.sliderr{
    width: 95%;
    margin: auto;
    overflow: hidden;
    margin-left: 10px;
}
.sliderr ul {
    display: flex;
    padding: 0;
    width: 300%;

    animation: cambio 10s infinite alternate linear;
}
.sliderr li {
    width: 100%;
    list-style: none;
}
.sliderr img {
    width: 50%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    
    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}
.container__{
    width: 50rem;
    height: 60rem;
}