<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-6">
          <div class="card text-black border">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-md-15  col-xl-15">
                    <img src="../../assets/images/electronico.gif" class="img-fluid borde" alt="Sample image">                    
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 mont">Registrate</p>                      
                  <form class="mx-1 mx-md-4 content-form" [formGroup]="register" (ngSubmit)="onSubmit()" novalidate>
                      <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                              <input formControlName="identificacion" [ngClass]="{'is-invalid': submitted && register.controls.identificacion.errors}" type="number" class="form-control formulario__input"/>
                              <label *ngIf="!register.controls.identificacion.value" class="form-label formulario__label" for="identificacion">Identificación</label>
                              <label *ngIf="register.controls.identificacion.value" class="form-label label__full" for="identificacion">Identificación</label>
                            </div>
                        </div>                      
                        <div class="row">    
                            <div class="d-flex flex-row align-items-center mb-4 col-6 pad-rig">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0 pad-rig">
                                <input formControlName="nombre1" [ngClass]="{'is-invalid': submitted && register.controls.nombre1.errors}" type="text" id="nombre1" class="form-control formulario__input" (keyup)="concatenar()" />
                                <label *ngIf="!register.controls.nombre1.value" class="form-label formulario__label" for="nombre1">Primer Nombre *</label>
                                <label *ngIf="register.controls.nombre1.value" class="form-label label__full" for="nombre1">Primer Nombre *</label>
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4 col-6 pad-lef ">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0 pad-lef">
                                <input formControlName="nombre2" [ngClass]="{'is-invalid': submitted && register.controls.nombre2.errors}" type="text" id="nombre2" class="form-control formulario__input" (keyup)="concatenar()"/>
                                <label *ngIf="!register.controls.nombre2.value" class="form-label formulario__label" for="nombre2">Segundo Nombre</label>
                                <label *ngIf="register.controls.nombre2.value" class="form-label label__full" for="nombre2">Segundo Nombre</label>
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4 col-6 pad-rig">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0 pad-rig">
                                <input formControlName="apellido1" [ngClass]="{'is-invalid': submitted && register.controls.apellido1.errors}" type="text" id="apellido1" class="form-control formulario__input" (keyup)="concatenar()"/>
                                <label *ngIf="!register.controls.apellido1.value" class="form-label formulario__label" for="apellido1">Primer Apellido *</label>
                                <label *ngIf="register.controls.apellido1.value" class="form-label label__full" for="apellido1">Primer Apellido *</label>
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4 col-6 pad-lef">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0 pad-lef">
                                <input formControlName="apellido2" [ngClass]="{'is-invalid': submitted && register.controls.apellido2.errors}" type="text" id="apellido2" class="form-control formulario__input" (keyup)="concatenar()"/>
                                <label *ngIf="!register.controls.apellido2.value" class="form-label formulario__label" for="apellido2">Segundo Apellido</label>
                                <label *ngIf="register.controls.apellido2.value" class="form-label label__full" for="apellido2">Segundo Apellido</label>
                              </div>
                        </div>
                    
                    </div>
                        
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="nombres" class="form-control formulario__input" disabled [value]="fullName"/>
                        <label *ngIf="register.controls.nombre1.value==='' && register.controls.apellido1.value===''"  class="form-label formulario__label" for="nombres">Nombre Completo</label>
                        <label *ngIf="register.controls.nombre1.value!=='' || register.controls.apellido1.value!==''"  class="form-label label__full" for="nombres">Nombre Completo</label>
                      </div>
                    </div>                    
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="poblacion" class="form-control formulario__input" formControlName="poblacion" [ngClass]="{'is-invalid': submitted && register.controls.poblacion.errors}"/>
                        <label *ngIf="!register.controls.poblacion.value" class="form-label formulario__label" for="poblacion">Población</label>
                        <label *ngIf="register.controls.poblacion.value" class="form-label label__full" for="poblacion">Población</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="region" class="form-control formulario__input" formControlName="region" [ngClass]="{'is-invalid': submitted && register.controls.region.errors}"/>
                        <label *ngIf="!register.controls.region.value" class="form-label formulario__label" for="region">Region</label>
                        <label *ngIf="register.controls.region.value" class="form-label label__full" for="region">Region</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="direccion" class="form-control formulario__input" formControlName="direccion" [ngClass]="{'is-invalid': submitted && register.controls.direccion.errors}"/>
                        <label *ngIf="!register.controls.direccion.value" class="form-label formulario__label" for="direccion">Dirección</label>
                        <label *ngIf="register.controls.direccion.value" class="form-label label__full" for="direccion">Dirección</label>
                      </div>
                    </div>
                    <div class="row">
                        <div class="d-flex flex-row align-items-center mb-4 col-6 pad-rig">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0 pad-rig" >
                            <input type="number" id="telefono" class="form-control formulario__input" formControlName="telefono" [ngClass]="{'is-invalid': submitted && register.controls.telefono.errors}"/>
                            <label *ngIf="!register.controls.telefono.value" class="form-label formulario__label" for="telefono">Telefono</label>
                            <label *ngIf="register.controls.telefono.value" class="form-label label__full" for="telefono">Telefono</label>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4 col-6 pad-lef">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0 pad-lef">
                            <input type="number" id="celular" class="form-control formulario__input" formControlName="celular" [ngClass]="{'is-invalid': submitted && register.controls.celular.errors}"/>
                            <label *ngIf="!register.controls.celular.value" class="form-label formulario__label" for="celular">Celular</label>
                            <label *ngIf="register.controls.celular.value" class="form-label label__full" for="celular">Celular</label>
                          </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input type="email" id="email" class="form-control formulario__input" formControlName="email" [ngClass]="{'is-invalid': submitted && register.controls.email.errors}"/>
                            <label *ngIf="!register.controls.email.value" class="form-label formulario__label" for="email">Email</label>
                            <label *ngIf="register.controls.email.value" class="form-label label__full" for="email">Email</label>
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">

                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio1">Sexo: </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="inlineRadioOptions" [ngClass]="{'is-invalid': submitted && register.controls.inlineRadioOptions.errors}" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="inlineRadioOptions" [ngClass]="{'is-invalid': submitted && register.controls.inlineRadioOptions.errors}" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Femenino</label>
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="date" id="fecha_nacimiento" class="form-control formulario__input fecha" formControlName="fecha_nacimiento" [ngClass]="{'is-invalid': submitted && register.controls.fecha_nacimiento.errors}"/>
                        <label  class="form-label formulario__label label__full" for="fecha_nacimiento">Fecha de nacimiento</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="organizacion_ventas" class="form-control formulario__input" formControlName="organizacion_ventas" [ngClass]="{'is-invalid': submitted && register.controls.organizacion_ventas.errors}"/>
                        <label *ngIf="!register.controls.organizacion_ventas.value" class="form-label formulario__label" for="organizacion_ventas">Organización de Ventas</label>
                        <label *ngIf="register.controls.organizacion_ventas.value" class="form-label label__full" for="organizacion_ventas">Organización de Ventas</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="canal_distribucion" class="form-control formulario__input" formControlName="canal_distribucion" [ngClass]="{'is-invalid': submitted && register.controls.canal_distribucion.errors}"/>
                        <label *ngIf="!register.controls.canal_distribucion.value" class="form-label formulario__label" for="canal_distribucion">Canal de Distribución</label>
                        <label *ngIf="register.controls.canal_distribucion.value" class="form-label label__full" for="canal_distribucion">Canal de Distribución</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="sector" class="form-control formulario__input" formControlName="sector" [ngClass]="{'is-invalid': submitted && register.controls.sector.errors}"/>
                        <label *ngIf="!register.controls.sector.value" class="form-label formulario__label" for="sector">Sector</label>
                        <label *ngIf="register.controls.sector.value" class="form-label label__full" for="sector">Sector</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="grupo_clientes" class="form-control formulario__input" formControlName="grupo_clientes" [ngClass]="{'is-invalid': submitted && register.controls.grupo_clientes.errors}"/>
                        <label *ngIf="!register.controls.grupo_clientes.value" class="form-label formulario__label" for="grupo_clientes">Grupo de Clientes</label>
                        <label *ngIf="register.controls.grupo_clientes.value" class="form-label label__full" for="grupo_clientes">Grupo de Clientes</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="zona_ventas" class="form-control formulario__input" formControlName="zona_ventas" [ngClass]="{'is-invalid': submitted && register.controls.zona_ventas.errors}"/>
                        <label *ngIf="!register.controls.zona_ventas.value" class="form-label formulario__label" for="zona_ventas">Zona de Ventas</label>
                        <label *ngIf="register.controls.zona_ventas.value" class="form-label label__full" for="zona_ventas">Zona de Ventas</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="grupo_vendedores" class="form-control formulario__input" formControlName="grupo_vendedores" [ngClass]="{'is-invalid': submitted && register.controls.grupo_vendedores.errors}"/>
                        <label *ngIf="!register.controls.grupo_vendedores.value" class="form-label formulario__label" for="grupo_vendedores">Grupo de Vendedores</label>
                        <label *ngIf="register.controls.grupo_vendedores.value" class="form-label label__full" for="grupo_vendedores">Grupo de Vendedores</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="oficina_ventas" class="form-control formulario__input" formControlName="oficina_ventas" [ngClass]="{'is-invalid': submitted && register.controls.oficina_ventas.errors}"/>
                        <label *ngIf="!register.controls.oficina_ventas.value" class="form-label formulario__label" for="oficina_ventas">Oficina de Ventas</label>
                        <label *ngIf="register.controls.oficina_ventas.value" class="form-label label__full" for="oficina_ventas">Oficina de Ventas</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="grupo_clientes1" class="form-control formulario__input" formControlName="grupo_clientes1" [ngClass]="{'is-invalid': submitted && register.controls.grupo_clientes1.errors}"/>
                        <label *ngIf="!register.controls.grupo_clientes1.value" class="form-label formulario__label" for="grupo_clientes1">Grupo de Clientes1</label>
                        <label *ngIf="register.controls.grupo_clientes1.value" class="form-label label__full" for="grupo_clientes1">Grupo de Clientes1</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="grupo_clientes3" class="form-control formulario__input" formControlName="grupo_clientes3" [ngClass]="{'is-invalid': submitted && register.controls.grupo_clientes3.errors}"/>
                        <label *ngIf="!register.controls.grupo_clientes3.value" class="form-label formulario__label" for="grupo_clientes3">Grupo de Clientes3</label>
                        <label *ngIf="register.controls.grupo_clientes3.value" class="form-label label__full" for="grupo_clientes3">Grupo de Clientes3</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="cupo" class="form-control formulario__input" formControlName="cupo" [ngClass]="{'is-invalid': submitted && register.controls.cupo.errors}"/>
                        <label *ngIf="!register.controls.cupo.value" class="form-label formulario__label" for="cupo">Cupo</label>
                        <label *ngIf="register.controls.cupo.value" class="form-label label__full" for="cupo">Cupo</label>
                      </div>
                    </div>  
                  
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-" >
                    <button type="submit" class="btn btn-primary btn-lg" >Register</button>
                  </div>
                </form>  
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>    