<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de cliente</h3>
    <form [formGroup]="form" (ngSubmit)="unir()">
        <div class="nombre">
            <div class="form-group">
                <label for="nombre1">Primer nombre</label>
                <input type="text" class="form-control" id="nombre1" name="nombre1" [(ngModel)]="nombre1" formControlName="nombre1">
                <div *ngIf="form.get('nombre1')?.touched && form.get('nombre1')?.errors?.['required']" 
                class="alert alert-danger">Información Requerida</div>
                <div *ngIf="form.get('nombre1')?.touched && form.get('nombre1')?.errors?.['minlength']" 
                class="alert alert-danger">Nombre Invalido ({{form.get('nombre1')?.errors?.['minlength']?.requiredLength}})</div>
            </div>
            <div class="form-group">
                <label for="nombre2">Segundo Nombre</label>
                <input type="text" class="form-control" id="nombre2" name="nombre2" [(ngModel)]="nombre2" formControlName="nombre2">
            </div>
            <div class="form-group">
                <label for="apellido1">Primer Apellido</label>
                <input type="text" class="form-control" id="apellido1" name="apellido1" [(ngModel)]="apellido1"formControlName="apellido1">
            </div>
            <div class="form-group">
                <label for="apellido2">Segundo Apellido</label>
                <input type="text" class="form-control" id="apellido2" name="apellido2" [(ngModel)]="apellido2 "formControlName="apellido2">
            </div>
        </div>
        <div class="form-group">
            <label for="cc">Cedula</label>
            <input type="number" class="form-control" id="cc" name="cc" [(ngModel)]="persona.cc" formControlName="cc">
        </div>
        <div class="form-group">
            <label for="correo">Correo electronico</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="persona.correo" formControlName="email">
        </div>
        <div class="form-group">
            <label for="cel">Celular</label>
            <input type="number" class="form-control" id="cel" name="cel" [(ngModel)]="persona.celular" formControlName="celular">
        </div>
        <div class="form-group">
            <label for="direccion">Direccion</label>
            <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="persona.direccion" formControlName="direccion">
        </div>
        <button class="btn btn-success" [disabled]="form.invalid">Guardar</button>
    </form>
</div>