input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.last{
    margin-left: 70.5%;
}
.card {
    border-radius: 25px;
}
.form-outline {
    min-height: auto;
    padding: 0.32rem 0.75rem;
    border: 0;
    background: transparent;
    transition: all 0.2s linear;
}
@media (min-width: 410) {
    .content-form {
        max-width: 100%;
    }
}
.mont{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primario);
}
.formulario__input:focus {
    outline: 1px solid var(--primario);
}
.formulario__input:focus + .formulario__label{
    margin-top: -70px;
    color: var(--primario);
    font-size: 1.2rem;
}
.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -32px;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}
.label__full{
    margin-top: -60px;
    font-size: 1rem;
    color: rgba(226, 2, 140, 0.5);
    padding-left: 15px;
    position: absolute;
}
.full{
    accent-color: var(--primario);
}
.border{
    box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 20%);
}
.pad-rig{
    padding-right: 0;
}
.pad-lef{
    padding-left: 0;
}
.img{
    width: 8rem;
    height: 10rem;
}
.fecha{
    color: rgba(0, 0, 0, 0.5);
}
.borde{
    border-radius: 1rem;
}
.women{
    padding-left: 2px;
}
.carousel{
    position: fixed;
    margin-top: 8%;
}
.top{
    padding-top: 3rem;
}