<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <!-- <img src="../assets/images/unnamed (1).png" alt="Logo Lilipink" width="30" height="24"> -->
        <img src="../assets/images/unnamed.png" alt="Logo Lilipink" width="140" height="24">
      </a>
      <div class="space">
        <div class="circulo">
          <a class="centrado">
            <i class="fa fa-facebook-official fa-lg icon" aria-hidden="true"></i>
          </a>
        </div>
        <div class="circulo">
          <a class="centrado">
            <i class="fa fa-twitter fa-lg icon" aria-hidden="true"></i>
          </a>
        </div>
        <div class="circulo">
          <a class="centrado">
            <i class="fa fa-instagram fa-lg icon" aria-hidden="true"></i>
          </a>
        </div>
        <div class="circulo">
          <a class="centrado ">
            <i class="fa fa-linkedin fa-lg icon" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>