<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <!-- <img src="../assets/images/unnamed (1).png" alt="Logo Lilipink" width="30" height="24"> -->
        <img src="../assets/images/unnamed.png" alt="Logo Lilipink" width="140" height="24">
      </a>
      <div class="space">
        <a>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </nav>
  <style scoped>
    
  </style>